﻿@model ACCDataStore.Web.Areas.SchoolProfile.ViewModels.SIMD.SIMDViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/schoolprofile/views/SIMD/SIMD.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
}
@{
    ViewBag.Title = "Index";
}

<h2>@Model.selectedschoolname</h2>

<h2>Scottish Index of Multiple Deprivation</h2>
@if (Model.IsShowCriteria)
{
    using (Html.BeginForm("Index", "SIMD", new { area = "SchoolProfile" }))
    {
        <table>
            <tr>
                <th colspan="2">Please select Criteria</th>
            </tr>
            <tr>
                <td colspan="2">Select school name </td>
            </tr>
            <tr>
                <td></td>
                <td>@Html.DropDownList("selectSchoolname", new SelectList(Model.ListSchoolNameData, "----Select------"))</td>
            </tr>
            <tr>
                <td colspan="2">Data available </td>
            </tr>
            @* select years *@
            @foreach (var itemYear in Model.ListYear)
            {
                <tr>
                    <td></td>
                    <td>
                        <input type="checkbox" name="years" value="@itemYear"
                               checked="checked" /> @itemYear
                        </td>
                    </tr>
            }
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="CheckYearAll"
                           value="ALL" id="CheckYearAll" checked="checked" />CheckALL
                </td>

            </tr>
            <tr>
                <td colspan="2">Select Deciles </td>
            </tr>

            @foreach (var itemSIMD in Model.ListSIMDdefinition)
            {
                <tr>
                    <td></td>
                    <td>
                        <input type="checkbox" name="SIMD" value="@itemSIMD"
                               checked="checked" /> @itemSIMD
                        </td>
                    </tr>
            }            
            <tr>
                <td></td>
                <td>
                    <input type="checkbox" name="CheckSIMDAll"
                           value="ALL" id="CheckSIMDAll" checked="checked" />CheckALL
                </td>

            </tr>
            <tr>
                <td>
                    <button id="buttonGetData" type="submit">
                        Get Data
                    </button>
                </td>
            </tr>


        </table>
    }
}
@if (Model.ListSIMDData!= null)
{
    <br>
    <form id="SIMD">
        <table id="datatable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">Decile</th>
                    @if (Model.ListSelectedYear != null && Model.ListSelectedYear.Count != 0)
                    {
                        foreach (var selection in Model.ListSelectedYear)
                        {
                            if (selection.Equals("2009"))
                            {
                                <th colspan="2">2009</th>
                            }
                            if (selection.Equals("2012"))
                            {
                                <th colspan="2">2012</th>
                            }
                        }
                    }
                    <th rowspan="2">Select data </th>
                </tr>
                <tr>

                   @if (Model.ListSelectedYear != null && Model.ListSelectedYear.Count != 0)
                   {
                       foreach (var selection in Model.ListSelectedYear)
                       {
                           if (selection.Equals("2009"))
                           {
                                <th>@Model.selectedschoolname</th>
                                <th>All Primary Schools</th>
                            }
                            if (selection.Equals("2012"))
                            {
                                <th>@Model.selectedschoolname</th>
                                <th>All Primary Schools</th>
                            }
                        }
                    }

                </tr>
            </thead>            
            <tbody>
                @foreach (var itemSIMD in Model.ListSIMDData)
                {
                    <tr>
                        <td>@itemSIMD.SIMDCode</td>
                        @if (Model.ListSelectedYear != null && Model.ListSelectedYear.Count != 0)
                        {
                            foreach (var selection in Model.ListSelectedYear)
                            {
                                if (selection.Equals("2009"))
                                {
                                    <td align="center">@String.Format("{0:#,0.00}", @itemSIMD.PercentageInSchool2009)</td>
                                    <td align="center">@String.Format("{0:#,0.00}", @itemSIMD.PercentageAllSchool2009)</td>
                                }
                                if (selection.Equals("2012"))
                                {
                                    <td align="center">@String.Format("{0:#,0.00}", @itemSIMD.PercentageInSchool2012)</td>
                                    <td align="center">@String.Format("{0:#,0.00}", @itemSIMD.PercentageAllSchool2012)</td>
                                }       
                            }
                        }
                        <td align="center"><input type='checkbox' name='CheckDataitem' value="@itemSIMD.SIMDCode" checked="checked" /></td>
                    </tr>

                }
            </tbody>
            <tr>
                @{var colspanSize = (@Model.ListSelectedYear.Count * 2) + 1;}
                <td colspan=@colspanSize></td>
                <td><input type='checkbox' name='CheckDataitemAll' id='CheckDataitemAll' value="ALL" checked="checked" />CheckALL</td>
            </tr>
            <tr><td><button onclick='myFunctionBar()'><label>Bar Chart</label></button></td></tr>
            <tr><td><button onclick='myFunctionColumn()'><label>Column Chart</label></button></td></tr>
            <tr><td>@Html.ActionLink("Export Excel", "ExportExcel", "SIMD", new { Area = "SchoolProfile", sSchoolName = "" }, null)</td></tr>
        </table>
        <script type="text/javascript">
            $('#datatable').DataTable({
                paging: false
            });
        </script>

        <div id="divChartContainer"></div>
        <p>
            Scottish Index of Multiple Deprivation ( SIMD) 2012 identifies small area concentrations of multiple deprivation across all of Scotland in a consistent way. The school census data was collected and matched at an individual pupil level to each data zone and decile (decile1 being the 10% most deprived areas in Scotland upto decile 10 the least deprived). Pupil level data was then analysed by school to produce the tables and charts above. This gives the distribution of pupils in each school by the datazone and respective decile. NB data includes pupils who live in Aberdeenshire but attend City schools. 	
        </p>
    </form>
}
