﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@HttpContext.Current.Application["APP_NAME"]</title>
    <link rel="stylesheet" href="~/Content/accdatastore/views/global.css" type="text/css" />
    <script src="~/Scripts/accdatastore/views/global.js"></script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/highcharts.js"></script>
    <script>
        var sContextPath = '@Url.Content("~")';
    </script>
    @RenderSection("Header")
</head>
<body>
    <div id="divBody">
        <div id="container">
            <div id="header">
                <h1> Aberdeen City Council Digital Data Observatory Project</h1>
            </div>
            <div id="content">
                <div id="nav">
                    <h3>Navigation</h3>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Index", new { id = "" }, null)</li>
                        <li>@Html.ActionLink("The Team", "Index", "Index", new { id = "theTeam" }, null)</li>
                        <li>@Html.ActionLink("School Profile", "Index", "IndexSchoolProfile", new { Area = "SchoolProfile" }, null)</li>                       
                        @*<li>@Html.ActionLink("Nationality", "Index", "Nationality", new { Area = "Nationality" }, null)</li>*@                               
                    </ul>
                </div>
                <div id="main">
                    @RenderBody()
                </div>
            </div>
            <div id="footer">
                Aberdeen City Council
            </div>
        </div>
        <div id="divSpinner" class="modal" style="display: none;">
        </div>
    </div>
</body>
</html>