﻿body {
    background-color: #EEEEEE;
}

#header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}


#container {
    background-color: white;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    padding: 10px;
}

#nav {
    width: 10%;
    float: left;
}

    #nav ul {
        list-style-type: none;
        padding: 0px;
    }

#main {
    width: 80%;
    float: left;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
}


table {
    width: 50%;
    border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
    /*   background: #66CCFF;  */
    background: #EEE;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
    text-align: center;

}

td, th {
    padding: 6px;
    border: 1px solid #ccc;
    /*text-align: center;*/
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    #container {
        width: 100%;
    }

    #nav {
        width: 30%;
    }

    #main {
        width: 70%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        border: 1px solid #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba( 255, 255, 255, .8 ) url('../../../Images/spinner.gif') 50% 50% no-repeat;
    }
