﻿@model ACCDataStore.Web.Areas.Nationality.ViewModels.NationalityViewModel.NationalityViewModel
@section Header {
    <link rel="stylesheet" href="~/Content/accdatastore/areas/nationality/views/nationality/nationality.css" type="text/css" />
    <script src="~/Scripts/accdatastore/areas/nationality/views/nationality/nationality.js"></script>
}
<div id="main">
    <h1>Nationality - Primary Schools (%pupils)</h1>

    <form id="formNationalCriteria">

        <table>
            <tr>
                <td>Select Year</td>
                @foreach (var itemYear in Model.ListYear)
                {
                    <td>
                        <input type="checkbox" name="years" value="@itemYear"
                               checked="checked" />@itemYear
                        </td>
                }

                <td>
                    <input type="checkbox" name="CheckYearAll" value="ALL"
                           id="CheckYearAll" checked="checked" />CheckALL
                </td>
            </tr>

            <tr>
                <td>Select Gender</td>
                @foreach (var itemGender in Model.ListGender)
                {
                    if (itemGender.Equals("F", StringComparison.CurrentCultureIgnoreCase))
                    {
                        <td>
                            <input type="checkbox" name="gender" value="@itemGender"
                                   checked="checked" />Female
                        </td>
                    }
                    else if (itemGender.Equals("M", StringComparison.CurrentCultureIgnoreCase))
                    {
                        <td>
                            <input type="checkbox" name="gender" value="@itemGender"
                                   checked="checked" />Male
                        </td>
                    }
                }
                <td>
                    <input type="checkbox" name="gender" value="Total"
                           checked="checked" />Total
                </td>
                <td>
                    <input type="checkbox" name="CheckGenderAll" value="ALL"
                           id="CheckGenderAll" checked="checked" />CheckALL
                </td>
            </tr>

            <tr>
                <td>Select Nationality</td>
                @foreach (var itemNational in Model.ListNational)
                {
                    if (Model.DicNational.ContainsKey(itemNational))
                    {
                        <td>
                            <input type="checkbox" name="nationality" value="@itemNational"
                                   checked="checked" /> @Model.DicNational[itemNational]
                            </td>
                    }
                }

                <td>
                    <input type="checkbox" name="CheckNationalityAll"
                           value="ALL" id="ChecknatioNalityAll" checked="checked" />CheckALL
                </td>

            </tr>

            <tr>
                <td>
                    <button id="buttonGetData" type="button">
                        Get Data
                    </button>
                </td>
            </tr>
        </table>
        <div id="tableNationalDataContainer"></div>
        <br>
        <div id="divChartContainer"></div>
    </form>
</div>

